---
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
}
const {
  title = "WrestleVerse | The Top Mobile Wrestling GM Game",
  description = "Discover WrestleVerse, the premium mobile pro wrestling booking & management simulator. Book matches, run your promotion, and experience live-called commentary.",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <script
      is:inline
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="fe8cb804-897e-4b8e-8d0a-c08c34d0a655"></script>
  </head>
  <body>
    <slot />

    <script>
      import { configureCtaLinks } from "@scripts/cta-links";

      configureCtaLinks();
    </script>
  </body>
</html>
